@charset "UTF-8";

 body {
    background-color: rgb(221, 218, 64);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }

h1 {
    color: rgb(236, 235, 230);
    background-color:rgb(61, 52, 10);
    }
p {
    text-align: justify;
    }